#This is a sample .env file.

#Your API Credentials
SERVER_PORT = "3000"

#Your Database Credentials
MYSQL_HOST = ""
MYSQL_USER = ""
MYSQL_PASSWORD = ""
MYSQL_DATABASE = ""
MYSQL_PORT = ""

#Your Redis Credentials
REDIS_PORT = ""
REDIS_HOST = ""
REDIS_USERNAME = ""
REDIS_PASSWORD = ""
REDIS_DB = ""
CACHE_EXPIRY_TIME = ""