#This is a sample .env file.

#Your API Credentials
SERVER_HOST = "0.0.0.0"
SERVER_PORT = "3000"

#Your Database Credentials
MYSQL_HOST = "mysql"
MYSQL_USER = "root"
MYSQL_PASSWORD = "yourpassword"
MYSQL_DATABASE = "sre_remote"
MYSQL_PORT = "3306"

#Your Redis Credentials
REDIS_HOST = "redis"
REDIS_USERNAME = "default"
REDIS_PASSWORD = ""
REDIS_PORT = "6379"
REDIS_DB = "0"
CACHE_EXPIRY_TIME = "3600"